
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}
#whycome{
text-align: center;
margin-top: .5%;
}

.chooseBtn {
    background-color: #5D9C59;
    border: 1px solid #5D9C59;
    padding: 5%;
    border-radius: 10px;
    color: white;

}
.chooseBtn:hover {
    background-color: #41644A;
    border: 1px solid #41644A;
}