@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* signup page */
body {
  background-color: whitesmoke;
  font-family:  'Poppins', sans-serif;
}
header {
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 15vh;
  padding-left: 7%;
  padding-right: 7%;
  background-color: #3795BD;
}
header div h2{
  margin-top: 15%;
  margin-left: 15%;
  color: white;
}
header > nav {
  display: flex;
  z-index: 100;
}
button {
  border-radius: 1rem;
  padding: 5%;
  padding-right: 1em;
  padding-left: 1em;
  border: none;
  font-size: 1.2rem;
  background-color: white;
}
a {
  margin-right: 1em;
  margin-top: 2em;
}

.container{
  width: 22%;
  color: white;
  background-color: #82AAE3;
  margin: 5%;
  text-align: center;
  height:55vh;
  border-radius: 5%;
  padding: 1%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.5s;
}
.container:hover{
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  
  transform: scale(1.1);
  transition: 0.5s;
}
.container img {
  width: 80%;
}
.container button{
  align-items: flex-end;
  align-self: center;
  margin-top: 15%;
}
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#search{
  margin: auto 0 auto 30%;
  display: block;
  padding-right:30% ;
  padding-top:1% ;
}

.learnBtn:hover{
  background-color: yellowgreen;
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
}
.upcoming{
  opacity: 50%;
  background-color: gray
}
#searchCourse{
  width: 40%;
  padding: 1%;
  font-size: 120%;
  margin-left:30%;
  margin-top:2%;
}
#searchCourse:valid{
  outline: none;
}