@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
  font-family: "Poppins", sans-serif;
}
main {
  margin-left: 17%;
  margin-right: 2%;
  margin-bottom: 10%;
  margin-top: 10%;
  width: 80%;
}
/* header end  */
header {
  justify-content: space-between;
  display: flex;
  width: 100%;
  margin-bottom: 10vh;
  height: 10vh;
  top: 0;
  position: fixed;
  background-color: blueviolet;
}
header div h2 {
  margin-top: 15%;
  margin-left: 15%;
  color: white;
}
header > div > img {
  height: 100%;
}
header > nav {
  display: flex;
  z-index: 100;
}
button {
  border-radius: 1rem;
  padding: 5%;
  padding-right: 1em;
  padding-left: 1em;
  border: none;
  background-color: whitesmoke;
}
aside {
  left: 0%;
  position: fixed;
  flex-direction: column;
  display: flex;
  width: 15%;
  top: 10%;
  height: 100%;
  margin-top: 0;
  border-right: black 1px solid;
}
#rightsidebar {
  width: 30%;
  margin-top: 10%;
  margin-right: 3%;
  height: 100%;
}
a {
  margin-right: 1em;
  margin-top: 2em;
  text-align: center;
  text-decoration: none;
  color: black;
}

/* Main div starts here */

.questionHeads {
  display: flex;
  justify-content: space-between;
}
.mainDiv {
  display: flex;
  /* display: none; */
}
.SideBar {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 15%;
}
.SideBar .titleHead {
  background-color: #ffe5ca;
  padding: 1%;
  text-align: center;
}
.tags {
  padding: 5%;
}
.tags a, .secondSection > a, .selectedTags > a {
  background-color: lightblue;
  color: #2f58cd;
  padding-right: 5%;
  padding-left: 5%;
  border-radius: 5%;
}
#categories {
  float: right;
}
.questionContainer {
  margin-top: 5%;
  display: flex;
  width: 100%;
  background-color: whitesmoke;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.firstSection {
  margin-right: 5%;
  margin-top: 1%;
}
.secondSection {
  margin-top: 1%;
}

.secondSection > p {
  color: #2F58CD;
  font-size: 20px;
}
.secondSection > p:hover{
  color: blue;
  cursor: pointer;
}
.firstSection > ul {
  list-style: none;
}
.firstSection > ul > li {
  margin-bottom: 20%;
}
/* .firstSection > ul > li:nth-child(2) {
  border: 1px solid black;
  border-radius: 10%;
} */
p a{
  background-color: lightblue;
  color: #2f58cd;
  padding-right: 1%;
  padding-left:1%;
  border-radius: 5%;

}
.askingQuestion{
  margin-left:20%;
  margin-right:15%;
  margin-top:15%;
  position: fixed;
  width: 50%;
  background-color: gainsboro;
  padding: 5%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 100;
  display: none;
}
.view{
  display: block;
}
.selectTags{
  display: flex;
  flex-wrap: wrap;
}
.form-check{
  margin-right: 5%;
}
.question{
  word-break: break-all;
}
.voteSection{
  display: flex;
  justify-content: space-between;
}