@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
  font-family: "Poppins", sans-serif;
}
main {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
}
/* header end  */
header {
  justify-content: space-between;
  display: flex;
  width: 100%;
  margin-bottom: 10vh;
  height: 10vh;
  position: relative;
  top: 0;
  background-color: blueviolet;
}
header div h2{
  margin-top: 15%;
  margin-left: 15%;
  color: white;
}
header > div > img {
  height: 100%;
}
header > nav {
  display: flex;
  z-index: 100;
}
button {
  border-radius: 1rem;
  padding: 5%;
  padding-right: 1em;
  padding-left: 1em;
  border: none;
  background-color: whitesmoke;
}
a {
  margin-right: 1em;
  margin-top: 2em;
  text-align: center;
  text-decoration: none;
  color: black;
}
aside{
    left: 1%;
    position: fixed;
    flex-direction: column;
    display: flex;
    background-color: skyblue;
    width: 15%;
    height: 50vh;
    border-radius: 2%;
    
}

/* termux Walkthrough page */

.termuxImage{
  margin-bottom: 2%;
  width: 50%;
  height: 80%;
}
.cmatrix{
  width: 50%;
  height: 70vh;
  margin-bottom: 2%;
}
.cmatrix:last-child{
  width: 80%;
  height: 80%;
}

/* Linux Commands */

td,th{
  padding: 1%;
  border: 2px solid black;
}
table{
  margin-top: 5%;
  margin-bottom: 5%;
}
code{
  /* background-color: lightgray; */
  font-size: 18px;
  font-weight: 700;
}
p{
  margin-top:2%;
}
.editor {
  position: relative;
  width: 500px;
  height: 200px;
  background-color: lightgray;
}
#output {
  position: relative;
  width: 500px;
  height: 100px;
  background-color: lightgray;
  font-size: 20px;
}
h3{
  margin-top: 2%;
}
