@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
  font-family: "Poppins", sans-serif;
}
main {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
}
/* header end  */
header {
  justify-content: space-between;
  display: flex;
  width: 100%;
  margin-bottom: 10vh;
  height: 10vh;
}
header div h2{
  margin-top: 15%;
  margin-left: 15%;
  color: white;
}
header > div > img {
  height: 100%;
}
header > nav {
  display: flex;
  z-index: 100;
}
button {
  border-radius: 1rem;
  padding: 5%;
  padding-right: 1em;
  padding-left: 1em;
  border: none;
  background-color: whitesmoke;
}
a {
  margin-right: 1em;
  margin-top: 2em;
  text-align: center;
  text-decoration: none;
  color: black;
}
#wave {
  width: 100%;
  height: 30vh;
  z-index: -1;
  position: absolute;
}

/* Mobile Hacking HTML Page */

aside{
    left: 1%;
    position: fixed;
    flex-direction: column;
    display: flex;
    background-color: skyblue;
    width: 15%;
    height: 50vh;
    border-radius: 2%;
    margin-top: 0;
    
}
main a {
  color: blue;
  text-decoration: underline;
}
.termuxPlayStore{
  width: 80%;
  height: 100%;
}
.termuxInterfaceBlock{
  display: flex;
}
.termuxInterfaceBlock > img{
  width: 50%;
  height: 100%;
  margin-right: 1%;
}

/* WEB HACKING */

#youtubeVideo{
  margin-bottom: 5vh;
  cursor: pointer;
}

/* mailspoof */

.emailspoof{
  margin-top: 5%;
}
