@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 15vh;
    background-color: #3795BD;
    margin-right: 7%;
  }
  header > nav {
    display: flex;
  }
  button {
    border-radius: 1rem;
    padding: 5%;
    padding-right: 1em;
    padding-left: 1em;
    border: none;
    font-size: 1.2rem;
    background-color: white;
  }
  a {
    margin-right: 1em;
    margin-top: 2em;
  }

.container {
  display: flex;
}
aside {
  width: 30%;
  height: 100;
  padding-left: 5%;
  padding-right: 5%;
  text-transform: uppercase;
}
aside img {
  width: 150%;
  margin-top: 10%;
  border-radius: 5%;
}
main {
  padding-right: 10%;
  padding-left: 10%;
}
.courseComplete {
  background-color: aqua;
  display: flex;
}
.courseComplete > div{
  margin-left: 5%;
}
.firstSection {
  display: flex;
}
.firstSection div:last-child {
  margin-left: 10%;
}
.achievements img {
  width: 50%;
  margin-right: 3%;
  display: flex;
  margin-bottom: 5%;
}
#welcome {
  margin-left: 5%;
}
.switch{
  display: flex;
  justify-content: space-between;
}

.switch > #switch {
padding:.5%;
background-color: #3795BD;
margin-top: 2%;
margin-bottom: 3%;
border-radius: 15%;
cursor: pointer;
}
.edit{
  position: fixed;
  background-color: white;
  width: 50%;
  height: 40vh;
  margin-left: 20%;
  display: none;
  font-size: 1.5rem;
  padding: 3%;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;; */
  box-shadow:5px 5px 100px 5px black ;
  
}
.edit div{
  display: flex;
}
.edit input{
  padding: 2%;
  width: 94%;
   margin-top: 2%;
   margin-right: 2%;
   font-size: 1.5rem;

}
.edit button{
  background-color: green;
margin-top: 5%;
margin-right: 3%;
  padding:2%;
border-radius: 15%;
cursor: pointer;

}
.edit button:last-child{
  background-color: lightcoral;
}
.view{
  display: block;
  z-index: 100;
}
.gender{
  width: 40%;
  margin-top: 5%;
}
#editProfile{
  background-color: lightskyblue;
}
#Save, #Cancel{
  color: white;
}
.profileIcon{
  width: 20%;
  height: 15vh;
  border-radius: 50%;
  background-color: black;
}