@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 15vh;
  background-color: #3795bd;
  margin-right: 7%;
}
header > nav {
  display: flex;
}
button {
  border-radius: 1rem;
  padding: 5%;
  padding-right: 1em;
  padding-left: 1em;
  border: none;
  font-size: 1.2rem;
  background-color: white;
}
a {
  margin-right: 1em;
  margin-top: 2em;
}

.container {
  display: flex;
}
aside {
  width: 30%;
  height: 100;
  padding-left: 5%;
  padding-right: 5%;
  text-transform: uppercase;
}
aside img {
  width: 150%;
  margin-top: 10%;
  border-radius: 5%;
}
main {
  padding-right: 10%;
  padding-left: 10%;
}
.courseComplete {
  background-color: darkcyan;
  display: flex;
  padding: 2%;
  justify-content: space-around;
  border-radius: 5%;
}
.courseComplete > div {
  margin-left: 5%;
}
.courseImg{
  width: 20%;
}
.firstSection {
  display: flex;
}
.firstSection div:last-child {
  margin-left: 10%;
}
.achievements img {
  width: 50%;
  margin-right: 3%;
  display: flex;
  margin-bottom: 5%;
}
#welcome {
  margin-left: 5%;
}
.switch {
  display: flex;
  justify-content: space-between;
}

.switch > #switch {
  padding: 0.5%;
  background-color: #3795bd;
  margin-top: 2%;
  margin-bottom: 3%;
  border-radius: 15%;
  cursor: pointer;
}

/* Edit Profile Section */
.edit {
  position: fixed;
  background-color: white;
  width: 50%;
  height: 40vh;
  margin-left: 20%;
  display: none;
  font-size: 1.5rem;
  padding: 3%;
  box-shadow: 5px 5px 100px 5px black;
}
/* Flexing  */
.edit div {
  display: flex;
}
.edit input {
  padding: 2%;
  width: 94%;
  margin-top: 2%;
  margin-right: 2%;
  font-size: 1.5rem;
}
.edit button {
  background-color: green;
  margin-top: 5%;
  margin-right: 3%;
  padding: 2%;
  border-radius: 15%;
  cursor: pointer;
}
.edit button:last-child {
  background-color: lightcoral;
}
.view {
  display: block;
  z-index: 100;
}
.gender {
  width: 40%;
  margin-top: 5%;
}
#editProfile {
  background-color: lightskyblue;
}
#deleteProfile {
  background-color: red;
  color: white;
}
#Save,
#Cancel {
  color: white;
}
.dangerZone {
  color: red;
  text-decoration: overline;
}
