@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
  font-family: "Poppins", sans-serif;
}
/* header end  */
header {
  justify-content: space-between;
  display: flex;
  width: 100%;
  margin-bottom: 10vh;
  height: 10vh;
}
header div h2{
  margin-top: 15%;
  margin-left: 15%;
  color: white;
}
header > nav {
  display: flex;
  z-index: 100;
}
button {
  border-radius: 1rem;
  padding: 5%;
  padding-right: 1em;
  padding-left: 1em;
  border: none;
  background-color: whitesmoke;
}
a {
  margin-right: 1em;
  margin-top: 2em;

}
#wave {
  width: 100%;
  height: 30vh;
  z-index: -1;
  position: absolute;
}
/* header end  */
.firstSection {
  text-align: center;
}
.heroSection {
  margin-top: 0%;
  height: 80vh;
}
.firstSection > h1 {
  font-size: 4rem;
}
.firstSection > p {
  font-size: 1.5em;
}
.learn {
  text-align: center;
  width: 30%;
  border-radius: 2%;
  color: black;
  height: 35vh;
  background-color:#F9F6EE ;
  box-shadow: 2px 2px 20px  gray;
}
.learn > img {
  margin-top: 10%;
  width: 30%;
}
.learn > h1 {
  margin-top: 10%;
}
.learningDiv {
  margin-top: 4%;
  display: flex;
  justify-content: space-around;
}
.hackersInfoTitle {
  text-align: center;
  font-size: 3rem;
}
.hackerImg {
  width: 40%;
  position: sticky;
  height: 50vh;
  top: 20%;
  border-radius: 15px;
}
.hackers {
  display: flex;
  margin-left: 5%;
  margin-top: 5%;

}
.hackersGroup {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.2rem;
  font-weight: 600;
}
.hackersGroup > p {
  padding-bottom: 40%;
}
.hackersGroup > p:last-child {
  padding: 0;
}
.btn-info {
  margin-left: 45%;
  margin-bottom: 2%;
  margin-top: 3%;
  padding: 1%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.5s;
}
.btn-info:hover{
  transform: scale(1.1);
  transition: 0.5s;
}

.hackersInfo{
  background-image: url('../img/circle-scatter-haikei.png');
  background-size:cover;
  background-attachment: fixed;
}
footer{
  height:50vh;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}

#footerBg{
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100vh;
}
.footer_content{
  display: flex;
}
.footer_content li{
  margin-right: 5%;
}
li{
  list-style: none;
}
